body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.score,
.result,
.choice,
.end {
    display: flex;
    flex-grow: 1;
}

.score {
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 150px;
}

.comp,
.player {
    display: flex;
    flex-direction: column;
}

#currCompScore,
#currPlayerScore {
    text-align: center;
}

.result {
    justify-content: center;
}

.choice {
    justify-content: space-around;
}

.end {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}