.score {
    display: flex;
    justify-content: space-around;
}

.result {
    display: flex;
    justify-content: center;
}

.choice {
    display: flex;
    justify-content: space-around;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}